/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
*::-webkit-scrollbar {
    width: 7px !important;
}

*::-webkit-scrollbar-thumb {
    background-color: #80808050 !important;
    border-radius: 10px !important;
}